{% extends 'widgets/widget_template.html' %}
{% load custom_template %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%; background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block widget_content %}
<style>

    .widget-container {
        width: 1170px !important;
        height: 600px;
    }
    .c-app-run-widget {
        height: 680px;
        width: 100%;
        position: relative;
    }
</style>
<div>
   <font size="+1"> {% autoescape off %}{{data| linebreaks}} {% endautoescape %}</font>
</div>

{% endblock %}